@using MailTemplateEngine.Models
@model WelcomeEmailViewModel

<h3>Bienvenido @Model.Name</h3>
<br />

<p>Te has registrado satisfactoriamente.</p>

<br />

<p>Este es un mensaje informativo, por favor no responder.</p>
