@page "/login"

<PageTitle>Login</PageTitle>

<form action="">
    <label for="email">Email :</label>
    <input type="email" placeholder="youremail@example.com" ><br><br>
    <label for="pass">Password :</label>
    <input type="password" name="pass" id="pass"> <br><br>
    <input type="submit" value="Login">
</form>

@code
{
    
}