@page "/signup"
@inject IApiConsumerService _apiConsumer

<PageTitle>SignUp</PageTitle>

<EditForm Model="@_user" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="name">Name: </label>
    <input type="text" placeholder="Alex" @bind="_user.Name" /><br><br>
    <label for="lastName">Last Name: </label>
    <input type="text" placeholder="Garcia" @bind="_user.LastName" /><br><br>
    <label for="email">Email: </label>
    <input type="email" placeholder="emailaddress@example.com" @bind="_user.Email"><br><br>
    <label for="email">Confirm Email: </label>
    <input type="email" placeholder="emailaddress@example.com" @bind="_user.ConfirmEmail"><br><br>
    <label for="pass">Password: </label>
    <input type="password" @bind="_user.Password"><br><br>
    <label for="pass">Confirm Password: </label>
    <input type="password" @bind="_user.ConfirmPassword"><br><br>
    <button type="submit">Submit</button>
</EditForm>
@code
{
    private AddUserModel _user = new AddUserModel();

    protected override void OnInitialized()
    {
        _apiConsumer = new ApiConsumerService();
    }

    private async Task HandleValidSubmit()
    {
        _user.RoleId = 2;
        RequestModel request = new RequestModel()
        {
            UrlBase = "http://localhost:5001",
            ServicePrefix = "/api",
            Controller = "/User/CreateUser",
            Body = JsonConvert.SerializeObject(_user)
        };
        ResponseModel result = await _apiConsumer.PostAsync(request);
        if (!result.IsSuccess)
        {
            Console.WriteLine(result.Message);
        }
    }
}